<style>
.copy-code-button {
position: relative;
display: block;
color: #fff;
background: #3B3B3B;
border: none;
}

.copy-code-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: #e0e5ec;
  transition: all 0.3s ease;
}

.copy-code-button:hover {
  color: #fff;
}
.copy-code-button:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.copy-code-button:active {
  top: 2px;
}
</style>

.code-header {
    background-color: #3B3B3B;
}

<div class="code-header">
    <button class="copy-code-button">
      Copy code to clipboard
    </button>
</div>
  