<div id="post-data" data-post-id="{{ page.id }}"></div>

<link rel="stylesheet" href="/assets/css/commenting.css">

<h3>Leave a comment</h3>

<form id="comment">
    <div class="input-row">
        <input type="text" id="name" placeholder="Name">
        <input type="password" id="password" placeholder="Password">
        <label class="switch">
            <input type="checkbox" id="toggle-password">
            <span class="slider round"></span>
        </label>
        <!-- <label><input type="checkbox" id="toggle-password">Show</label> -->
    </div>
    <label for="secret-comment">
        <input type="checkbox" id="secret-comment"> Secret Comment
    </label>

    <textarea id="message" placeholder="Message"></textarea>

  <input type="submit" value="Post Comment">
</form>

<div id="comments-container">
</div>

<!-- <script src="/assets/scripts/argon2-browser/dist/argon2.js"></script> -->
<script src="https://unpkg.com/dompurify@1.0.8/dist/purify.js"></script> <!--For Sanitizing HTML-->
<script src="https://unpkg.com/blueimp-md5@2.3.0/js/md5.min.js"></script> <!--For MD5 Hash Function for password-->
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script> <!--For markdown to HTML rendering-->
<script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-firestore-compat.js"></script>
<script type="module" src="/assets/scripts/commenting.js"></script>  <!--/scripts/customJS/fireBase.js-->
