<button id="like-button">Like</button>

<span id="like-count">0</span>


<!--scss file (likeButton.scss was included in customOverride.scss, which again is imported to main.scss)-->
<!--<link rel="stylesheet" href="path/to/your/style.css">--> 
 
<script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-firestore-compat.js"></script>
<script src="{{% include scripts/customJS/fireBase.js %}}"></script>  <!--/scripts/customJS/fireBase.js-->
<!-- <script src="{{% include scripts/customJS/likeButton.js %}}"></script> -->  <!--/scripts/customJS/likeButton.js-->
