<div id="post-data" data-post-id="{{ page.id }}"></div>

<div class="placement">
    <button id="like-button" class="btn-love">
    </button>
    <span id="like-count">0</span>
</div>


<!--scss file (likeButton.scss was included in customOverride.scss, which again is imported to main.scss)-->
<!--<link rel="stylesheet" href="path/to/your/style.css">--> 
 
<script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-firestore-compat.js"></script>
<script type="module" src="/assets/scripts/fireBase.js"></script>  <!--/scripts/customJS/fireBase.js-->
<!--<script src="/assets/scripts/likeButton.js"></script>-->
