<meta charset="UTF-8">

<head>
	<!--<link rel="stylesheet" href="/assets/css/musicplayer_audio.css"> <!--audio only-->
	<!-- <link rel="stylesheet" href="/assets/css/musicplayer_video.css">
	<link rel="stylesheet" href="/assets/css/lightbox.css"> -->
</head>

<body>
<div class="soundplayer">
	<!-- <figure>
		<a href="" data-lightbox="soundplayer">
			<img id="thumbnail" class="thumbnail" src="" alt="YouTube Thumbnail">
		</a>
	</figure> -->
	<!-- <div class="youtube"></div>
	<div class="mute" id="muteButton"></div>
	<div class="go-stop" id="playButton"></div>
	<div class="next-song"></div>
	<div class="song-container">
		<span class="song-name" id="songTitle">Click 'Next' button to play music :)</span>
	</div>
	<div class="time-display">
        <span class="current-time">0:00</span> /
        <span class="total-time">0:00</span>
    </div>
  </div> -->

  <!-- <script type="module" src="/assets/scripts/musicplayer.js"></script>
  <script src="/assets/scripts/lightbox-plus-jquery.js"></script> -->
</body>