/*.music-player{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
  }*/

.soundplayer {
    /*width: 84%;*/
    width: 109px; /*109px*/
    height: 150px; /*25%;*
    /*background: url('./images/v8_365.png');*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 71.89%; /*486px*/
    left: 8%;
    overflow: hidden;
  }
  .youtube {
    width: 100%;
    height: 35%;
    background: rgba(179, 179, 179, 1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    overflow: hidden;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  .next-song {
    width: 20px;
    height: 20px;
    background: url('../images/next-song-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 95px;
    left: calc(50% + 10px + 10px);
    overflow: hidden;
  }
  .next-song:hover {
    cursor: pointer;
  }
  .go-stop {
    width: 20px;
    height: 20px;
    background: url('../images/go-stop-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 95px;
    left: calc(50% - 10px);
    overflow: hidden;
  }
  .go-stop:hover {
    cursor: pointer;
  }
  .go-stop.stopped {
    background: url('../images/go-stop-icon-true.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .mute {
    width: 20px;
    height: 20px;
    background: url('../images/mute-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 95px;
    left: calc(50% - 10px - 30px);
    overflow: hidden;
  }
  .mute.muted {
    background: url('../images/mute-icon-true.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .mute:hover {
    cursor: pointer;
  }
  .song-name {
    width: 109px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    right: 0%;
    font-size: 12px;
    opacity: 1;
    text-align: center;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      /*transform: translateX(200%);*/
      left: 100%;
    }
    100% {
      /*transform: translateX(0%);*/
      left: -100%;
    }
  }
