@use "sass:math";

.extensions {
  margin: map-get($spacers, 3) 0;
  @extend .d-print-none;
}

.extensions--video, .extensions--slide, .extensions--demo {
  position: relative;
  width: 100%;
  padding: 0;
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.extensions--video {
  padding-top: percentage(calc(315 / 560)); //  percentage(315 / 560);
}

.extensions--slide {
  padding-top: percentage(calc(487 / 599)); //percentage(487 / 599);
}

@function divide($num1, $num2) {
  @return math.div($num1, $num2);
}

$value-pt: divide(315, 560);

.extensions--demo {
  min-height: 340px;
  padding-top: percentage($value-pt); // percentage(315 / 560);
}

.extensions--audio {
  display: block;
  max-width: 100% !important;
}
