---
layout: page
title: 스터디 & 프로젝트
title-en: Study & Project
---

<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {% assign work_posts = site.posts | where:"categories","work" %}
    {% assign work_posts_en = site.posts_en | where:"categories","work" %}
    {% assign all_work_posts = work_posts | concat: work_posts_en %}
    {%- include article-list.html articles=all_work_posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
