---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}
    
  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}
    <!-- AddToAny BEGIN -->
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
      <a class="a2a_button_bluesky"></a>
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_copy_link"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_print"></a>
      <a class="a2a_button_linkedin"></a>
      </div>
      <script>
      var a2a_config = a2a_config || {};
      a2a_config.onclick = 1;
      </script>
      <script defer src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->

  <div class="d-print-none">
    <!--Top Button-->
      <div id="toTop">
        <a href="#site-nav" id="topButton" aria-label="페이지 상단으로 이동. Go to the top of the page.">
          <i class="fas fa-angle-double-up fa-2x" aria-hidden="true"></i><br>
          TOP
        </a>
      </div>
      <!-- scss is imported via customOverride.scss > main.scss -->
      
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<!-- ===Scripts=== -->
<script>
  {%- include scripts/article.js -%}
</script>

<script src="/assets/scripts/copyCode.js"></script>

<!---Lightbox-->
<script type="text/javascript" src="/assets/scripts/lightbox-plus-jquery.js"></script>
<link rel="stylesheet" href="/assets/css/lightbox.css">

<!-- Top Button -->
<script src="/assets/scripts/topButton.js"></script>