---
layout: page
title: 블로그
title-en: Blog
---

<div class="layout--archive js-all">
  {%- include tags_blog.html -%}
  <div class="js-result layout--archive__result d-none">
    {% assign blog_posts = site.posts | where:"categories","blog" %}
    {% assign blog_posts_en = site.posts_en | where:"categories","blog" %}
    {% assign all_blog_posts = blog_posts | concat: blog_posts_en %}
    {%- include article-list.html articles=all_blog_posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
