---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  ko      : &KO       홈
  ko-KR   : *KO
  # @end locale config
show_title: true
background_color: "#59acff"
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: true
  show_excerpt: true
  show_readmore: false
  show_info: true
---
<style>
  .overlay {
  min-height: auto !important;
  height: 20rem !important;
}
h1 {
  margin-top: 2rem;
}
</style>

<!-- Paginator -->
<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
